<div class="body">
    <aside class="profile-card">

        <header>

            <a href="https://www.facebook.com/ewumesh">
            </a>

            <h1>Umesh Thapa</h1>
            <h2>- Frontend Developer -</h2>

        </header>

        <div class="profile-bio">
            <p>Hello there!</p>
            <p>First and foremost, I am a Software Designer and Developer. I want to use Coding, public relations, and web design to futher the stories of other Veterans and those who serve our country and communities.</p>

        </div>

    </aside>

    <div class="bg">

        <div class="container">

            <div class="row py-5">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <div class="timeline">
                            <a href="Javascript:;" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-globe"></i>
                                </div>
                                <h3 class="title">Web Designing</h3>
                                <p class="description">
                                    Web design encompasses many different skills and disciplines in the production and maintenance of websites. The different areas of web design include web graphic design; user interface design; authoring, including standardised code and proprietary software;
                                    user experience design; and search engine optimization.
                                </p>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="Javascript:;" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <h3 class="title">Web Development</h3>
                                <p class="description">
                                    Web development is the work involved in developing a Web site for the Internet or an intranet. Web development can range from developing a simple single static page of plain text to complex Web-based Internet applications, electronic businesses, and social
                                    network services.
                                </p>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="Javascript:;" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-code"></i>
                                </div>
                                <h3 class="title">Java Script</h3>
                                <p class="description">
                                    JavaScript, often abbreviated as JS, is a programming language that conforms to the ECMAScript specification. JavaScript is high-level, often just-in-time compiled, and multi-paradigm. It has curly-bracket syntax, dynamic typing, prototype-based object-orientation,
                                    and first-class functions. </p>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="Javascript:;" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-code"></i>
                                </div>
                                <h3 class="title">Typescript</h3>
                                <p class="description">
                                    TypeScript is a programming language developed and maintained by Microsoft. It is a strict syntactical superset of JavaScript and adds optional static typing to the language. TypeScript is designed for the development of large applications and transcompiles
                                    to JavaScript. </p>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="Javascript:;" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-code"></i>
                                </div>
                                <h3 class="title">Angular</h3>
                                <p class="description">
                                    Angular is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS. </p>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="Javascript:;" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-code"></i>
                                </div>
                                <h3 class="title">Vuejs</h3>
                                <p class="description">
                                    Vue.js is an open-source model–view–viewmodel front end JavaScript framework for building user interfaces and single-page applications. It was created by Evan You, and is maintained by him and the rest of the active core team members. </p>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="Javascript:;" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-sitemap"></i>
                                </div>
                                <h3 class="title">GIT</h3>
                                <p class="description">
                                    Git is software for tracking changes in any set of files, usually used for coordinating work among programmers collaboratively developing source code during software development. Its goals include speed, data integrity, and support for distributed, non-linear
                                    workflows. </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <iframe width="100%" height="800" src="https://www.instagram.com/p/CB5kUM_DHxv/embed" frameborder="5"></iframe>
                </div>
                <div class="col-md-4">
                    <iframe width="100%" height="460" src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fibainternationaleducation&width=600&colorscheme=light&show_faces=true&border_color&stream=true&header=true&height=435" scrolling="yes"
                        style="border:none; overflow:hidden " allowtransparency="true" frameborder="5"></iframe>
                </div>
                <div class="col-md-1"></div>
            </div>

        </div> -->

    </div>
</div>