<div class="body">
    <aside class="profile-card">

        <header>

            <a href="https://www.facebook.com/ewumesh">
            </a>

            <h1>Umesh Thapa</h1>
            <h2>- Frontend Developer -</h2>

        </header>

        <div class="profile-bio">
            <p>Hello there!</p>
            <p>First and foremost, I am a Software Designer and Developer. I want to use Coding, public relations, and web design to futher the stories of other Veterans and those who serve our country and communities.</p>

        </div>

    </aside>

    <div class="bg">

        <div class="container">

            <div class="row py-5">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-globe"></i>
                                </div>
                                <h3 class="title">Web Designing</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo
                                </p>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <h3 class="title">Web Development</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo
                                </p>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <h3 class="title">Java Script</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo
                                </p>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <h3 class="title">Web Designing</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>