<div class="row p-3">
    <div class="col-md-12 text-center">
        <h3> Forgot Your Password?</h3>
        <p style="font-size: 13px;">Don't worry! Just fill in your email and we will send you a link to reset your password.</p>

        <form class="pt-4" [formGroup]="forgotPasswordForm" (ngSubmit)="sumbit()" autocomplete="off">
            <mat-form-field style="width: 90%;" class="login_field pb-3">
                <mat-label class="input_label">Email</mat-label>
                <input formControlName="email" type="email" matInput placeholder="Enter your email">
                <mat-error class="font-danger" *ngIf="displayMessage?.email">{{displayMessage?.email}}</mat-error>
            </mat-form-field>

            <div class="row">
                <div class="col-md-12">
                    <button [disabled]="forgotPasswordForm.invalid" class="btn btn-primary" type="submit">Submit</button>
                    <button class="btn btn-danger ml-3" type="button" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>