<div class="text-center">
    <h6 class="m-portlet_head-text m--font-brand" matDialogTitle>
        Confirm!
    </h6>
    <div matDialogContent>
        <h5>Discard Unsaved Changes?</h5>
    </div>
    <div matDialogActions class="justify-content-center mb-1">
        <button matTooltip="Yes" matTooltipPosition="left" [mat-dialog-close]="true"
            class="btn btn-label-warning btn-icon btn-circle mx-2">
            <i class="la la-check"></i>
        </button>
        <button matTooltip="No" matTooltipPosition="right" [mat-dialog-close]="false"
            class="btn btn-secondary btn-elevate-hover btn-icon btn-circle mx-2">
            <i class="la la-close"></i>
        </button>
    </div>
</div>