.signup_img {
    height: 120px;
    // width: 120px;
    border-radius: 100%;
}

.signup_card {
    // background: transparent;
    // border: 2px solid #00E676;
    background-image: url('../../../../assets/images/lo.jpg');
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
}

.img {
    height: 100px;
    // width: 180px;
    // padding: 10px;
    margin: 0;
    background-repeat: no-repeat;
    justify-content: center;
    background-image: url('../../../../assets/logo/e-logo.png');
}

.signup_page {
    padding-top: 100px;
    min-height: 100vh;
    background: url(https://image.freepik.com/free-photo/shiny-lights_385-19321244.jpg);
    background-size: cover;
    // animation: myanimation 10s infinite;
}

@keyframes myanimation {
    0% {
        background-color: rgb(80, 24, 24);
    }
    25% {
        background-color: rgb(78, 78, 71);
    }
    50% {
        background-color: rgb(55, 85, 55);
    }
    75% {
        background-color: rgb(58, 40, 40);
    }
    100% {
        background-color: rgb(61, 53, 53);
    }
    75% {
        background-color: rgb(82, 80, 85);
    }
    50% {
        background-color: rgb(121, 72, 113);
    }
    25% {
        background-color: rgb(33, 5, 39);
    }
    0% {
        background-color: rgb(80, 24, 24);
    }
}

.input_label {
    color: #fff;
}

.signup_btn {
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    margin: 0 auto 2em;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
}

@media (min-width: 400px) {
    .signup_btn {
        display: inline-block;
        margin-right: 2.5em;
    }
    .signup_btn:nth-of-type(even) {
        margin-right: 0;
    }
}

@media (min-width: 600px) {
    .signup_btn:nth-of-type(even) {
        margin-right: 2.5em;
    }
    .signup_btn:nth-of-type(5) {
        margin-right: 0;
    }
}

.signup_btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
}

.signup_btn-5:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
}

.m_0 {
    margin: 0;
}

.max-width {
    width: 90% !important;
}

.wrong_password {
    text-align: left !important;
    padding-left: 10% !important;
    color: #f44336;
    font-size: 12px;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    letter-spacing: normal;
}

.already {
    color: #fff !important;
}

.s_login {
    color: rgb(2, 114, 241) !important;
    ;
    // color:#00E676;
    text-decoration: none;
}

.s_login:hover {
    color: #00E676 !important;
    text-decoration: none;
    transition: color 0.8s ease-in-out;
}