<header id="home" class="signup_page pb-4">
    <div class="row m_0">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <mat-card class="signup_card">
                <div class="text-center">
                    <img class="login_img" src="assets/logo/e-logo.png">
                </div>

                <div class="row">
                    <div class="col-md-12 text-center signup_form">
                        <form [formGroup]="signupForm" (ngSubmit)="saveChanges()" autocomplete="off">
                            <mat-form-field class="max-width">
                                <mat-label class="input_label">Email</mat-label>
                                <input formControlName="email" type="email" matInput placeholder="Enter username">
                                <mat-error class="font-danger" *ngIf="displayMessage?.email">{{displayMessage?.email}}</mat-error>
                            </mat-form-field>

                            <mat-form-field class="max-width pt-3">
                                <mat-label class="input_label">Password</mat-label>
                                <input formControlName="password" type="password" matInput placeholder="Enter Your Password">
                                <mat-error class="font-danger" *ngIf="displayMessage?.password">{{displayMessage?.password}}</mat-error>
                            </mat-form-field>

                            <mat-form-field class="max-width pt-3">
                                <mat-label class="input_label">Confirm Password</mat-label>
                                <input formControlName="confirmPassword" type="password" matInput placeholder="Re-enter your password">
                                <mat-error class="font-danger" *ngIf="displayMessage?.confirmPassword">{{displayMessage?.confirmPassword}}</mat-error>
                            </mat-form-field>
                            <p class="wrong_password" *ngIf="signupForm.errors?.invalid"> Password doesn't match </p>

                            <div class="row">
                                <div class="col-md 12 text-center pt-3">
                                    <button [disabled]="signupForm.invalid || isLoading" class="signup_btn signup_btn-5">
                                        <span *ngIf="!isLoading">REGISTER</span>   
                                        <span *ngIf="isLoading"><i style="font-size: 22px;" class="fa fa-cog fa-spin"></i></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12 text-center pt-4">
                    <p class="already">Already have an account? <a class="s_login" (click)="login()" href="Javascript:;">Login</a></p>
                </div>
            </mat-card>
        </div>
        <div class="col-md-4"></div>
    </div>
</header>