<header id="home">
    <div class="header_text" style="padding-top: 400px !important;">
        <h1>Don’t limit yourself.</h1>
        <p>Many people limit themselves to what they think they can do.<br> You can go as far as your mind lets you. What you believe, remember, you can achieve.
            <p>

                <a id="header_button" href="Javascript:;" [routerLink]="['/register']">Connect with us</a>
    </div>
</header>


<!-- ======= Team Section ======= -->
<section id="team" class="team">

    <div class=" text-center" style="width: 100% !important; padding: 0 12%;">

        <div class="section-main text-center" style="background-image: url('../../../assets/images/bp.jpg'); height: 400px;background-repeat: no-repeat; background-position: center;background-size: cover; margin:0 1.1% !important; opacity: 0.5;">
            <h2 style="opacity: 1 !important; padding-top: 170px; color: #fff !important;">Team</h2>
            <p style="opacity: 1 !important; color: #fff;">Our hard working team</p>
        </div>

        <!-- <div class="row" style="background-image: url('../../../assets/images/bp.jpg'); height: 400px; background-repeat: no-repeat; background-position: center;background-size: cover; margin:0 1.1% !important; opacity: 0.1;">

        </div> -->

        <div cdkDropList class="row gy-4" cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
            <!-- <div cdkDropList class="row gy-4" cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)"> -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4" cdkDragBoundary=".row" *ngFor="let t of team" cdkDrag>
                <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4" cdkDragBoundary=".row" *ngFor="let t of team" cdkDrag> -->
                <div class="member">
                    <div class="member-img">
                        <img [src]="t.imgUrl" class="img-fluid" alt="">
                        <div class="social" *ngFor="let l  of t.links">
                            <a [attr.href]="l.twitter"><i class="fa fa-twitter-square"></i></a>
                            <a [attr.href]="l.facebook"><i class="fa fa-facebook-square"></i></a>
                            <a [attr.href]="l.instagram"><i class="fa fa-instagram"></i></a>
                            <a [attr.href]="l.linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>{{t.firstName}} {{t.lastName}}</h4>
                        <span>{{t.position}}</span>
                        <p>{{t.about}}
                        </p>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/pr.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Pujan Rai</h4>
                        <span>Product Manager</span>
                        <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis. Voluptate sed quas reiciendis animi neque sapiente.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/bs.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Bijen Shrestha</h4>
                        <span>Product Manager</span>
                        <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis. Voluptate sed quas reiciendis animi neque sapiente.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/dp.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Deepika Puri</h4>
                        <span>Database Administrator</span>
                        <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/ds.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Dharmendra Shah</h4>
                        <span>CTO</span>
                        <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut architecto porro aspernatur molestiae modi.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/sk.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Sagar Katuwal</h4>
                        <span>Accountant</span>
                        <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/kp.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Kanchan Poudel</h4>
                        <span>Accountant</span>
                        <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team-3.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Rabin Neupane</h4>
                        <span>......</span>
                        <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team-1.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Aadarsa Neupane</h4>
                        <span>......</span>
                        <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/ss.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Saraswoti Shrestha</h4>
                        <span>......</span>
                        <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/pa.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Projwal Aryal</h4>
                        <span>......</span>
                        <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/st.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Suren Timilsena</h4>
                        <span>......</span>
                        <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
                    </div>
                </div>
            </div> -->

        </div>

    </div>

</section>
<!-- End Team Section -->