<header id="home">
    <div class="header_text" style="padding-top: 400px !important;">
        <h1>Don’t limit yourself.</h1>
        <p>Many people limit themselves to what they think they can do.<br> You can go as far as your mind lets you. What you believe, remember, you can achieve.
            <p>

                <a id="header_button" href="Javascript:;" [routerLink]="['/register']">Connect with us</a>
    </div>
</header>


<!-- ======= Team Section ======= -->
<section id="team" class="team">

    <div class=" text-center" style="width: 100% !important; padding: 0 12%;">

        <div class="section-main text-center" style="background-image: url('assets/images/group.jpg'); height: 400px;background-repeat: no-repeat; background-position: center;background-size: cover; margin:0 1.1% !important; opacity: 0.5;">
            <h2 style="opacity: 1 !important; padding-top: 170px; color: #fff !important;">Team</h2>
            <p style="opacity: 1 !important; color: #fff;">Our hard working team</p>
        </div>

        <!-- <div class="row" style="background-image: url('../../../assets/images/bp.jpg'); height: 400px; background-repeat: no-repeat; background-position: center;background-size: cover; margin:0 1.1% !important; opacity: 0.1;">

        </div> -->

        <div class="row gy-4">
            <!-- <div cdkDropList class="row gy-4" cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)"> -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4" *ngFor="let t of team">
                <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4" cdkDragBoundary=".row" *ngFor="let t of team" cdkDrag> -->
                <div class="member">
                    <div class="member-img">
                        <img [src]="t.content.imgUrl" class="img-fluid" alt="">
                        <div class="social" *ngFor="let l  of t.content.links">
                            <a [attr.href]="l.twitter"><i class="fa fa-twitter-square"></i></a>
                            <a [attr.href]="l.facebook"><i class="fa fa-facebook-square"></i></a>
                            <a [attr.href]="l.instagram"><i class="fa fa-instagram"></i></a>
                            <a [attr.href]="l.linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>{{t.content.firstName}} {{t.content.lastName}}</h4>
                        <span>{{t.content.position}}</span>
                        <p>{{t.content.about}}
                        </p>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/pr.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Pujan Rai</h4>
                        <span>Product Manager</span>
                        <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis. Voluptate sed quas reiciendis animi neque sapiente.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/bs.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Bijen Shrestha</h4>
                        <span>Product Manager</span>
                        <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis. Voluptate sed quas reiciendis animi neque sapiente.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/dp.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Deepika Puri</h4>
                        <span>Database Administrator</span>
                        <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/ds.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Dharmendra Shah</h4>
                        <span>CTO</span>
                        <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut architecto porro aspernatur molestiae modi.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/sk.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Sagar Katuwal</h4>
                        <span>Accountant</span>
                        <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/kp.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Kanchan Poudel</h4>
                        <span>Accountant</span>
                        <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team-3.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Rabin Neupane</h4>
                        <span>......</span>
                        <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team-1.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Aadarsa Neupane</h4>
                        <span>......</span>
                        <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/ss.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Saraswoti Shrestha</h4>
                        <span>......</span>
                        <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/pa.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Projwal Aryal</h4>
                        <span>......</span>
                        <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/st.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Suren Timilsena</h4>
                        <span>......</span>
                        <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
                    </div>
                </div>
            </div> -->

        </div>

        <div class="testimonials text-center">

            <div class="container">
                <h3 style="color: #00db92;">Testimonials</h3>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-light bg-light text-center">
                            <img src="https://scontent.fktm8-1.fna.fbcdn.net/v/t1.0-9/126104138_4938437559514558_3690540567694262745_o.jpg?_nc_cat=111&ccb=3&_nc_sid=09cbfe&_nc_ohc=_8qIvTlcJCIAX8dcQn6&_nc_ht=scontent.fktm8-1.fna&oh=5cac866a6e9e86a45b9c200eba670359&oe=605C5379" class="i card-img-top rounded-circle"
                                aria-hidden="true">
                            <div class="card-body blockquote">
                                <p class="card-text">Teachers can open the door, but you must enter it yourself.</p>
                                <span class="blockquote-footer"><cite title="Source Title">Birendra Manandhar</cite></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="card border-light bg-light text-center">
                            <img src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-1/p320x320/125538141_3882055161828477_1141565661561642996_n.jpg?_nc_cat=102&ccb=3&_nc_sid=7206a8&_nc_ohc=bKo10oQKx_UAX_xvaiz&_nc_ht=scontent.fktm3-1.fna&tp=6&oh=3ca3d8486b58f2316e430585941aa2e0&oe=605C4326"
                                class="i card-img-top rounded-circle" aria-hidden="true">
                            <div class="card-body blockquote">
                                <p class="card-text">The mind is not a vessel to be filled but a fire to be ignited.</p>
                                <span class="blockquote-footer"><cite title="Source Title">Rabin Bhattarai</cite></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="card border-light bg-light text-center">
                            <img src="https://instagram.fktm8-1.fna.fbcdn.net/v/t51.2885-19/s320x320/26865522_410716716019557_734690474224254976_n.jpg?tp=1&_nc_ht=instagram.fktm8-1.fna.fbcdn.net&_nc_ohc=QkcJuyDSv2QAX_iw8BN&oh=bf0d835b0362390ba087dfb892c923ec&oe=60648AEB" class="i card-img-top rounded-circle"
                                aria-hidden="true">
                            <div class="card-body blockquote">
                                <p class="card-text">Failure is the opportunity to begin again more intelligently.</p>
                                <span class="blockquote-footer"><cite title="Source Title">Robin Regmi</cite></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <h2 class="text-center pt-4 mt-4 mb-4 pb-4" style="color: #00E676;">Latest Blogs</h2>
        <div class=" foreground" style="background-color: #2b2b5f;">
            <article class="container article-preview pt-4 arc">
                <div class="row" *ngFor="let a of blogs | slice:0:2;">
                    <div class="col-sm-2">
                        <h2 style="color: #00E676; position: relative;" class="publish-day">{{a.content.date | date:'mediumDate'}}</h2>
                    </div>
                    <div class="col-sm-10">
                        <h2 class="post-title"><a [routerLink]="['/view']" [queryParams]=" a.content" style="color: #fff;">{{a.content.title}}</a></h2>
                        <div class="post-preview">
                            <p [innerHtml]="a.content.content |slice:0:200">
                                <!-- {{a.content.content|slice:0:200}} -->
                            </p>
                        </div>
                        <div class="author">
                            <a href="Javascript:;">
                                <img [src]="a.content.headerImg" class="author-image" alt="">
                                <span class="author-name">{{a.content.author}}</span>
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
            </article>
        </div>




    </div>
    <!-- Recent blog section -->

</section>
<!-- End Team Section -->