<header id="home">
    <div class="header_text" style="padding-top: 400px !important;">
        <h1>Don’t limit yourself.</h1>
        <p>Many people limit themselves to what they think they can do.<br> You can go as far as your mind lets you. What you believe, remember, you can achieve.
            <p>

                <a id="header_button" href="Javascript:;" [routerLink]="['/register']">Connect with us</a>
    </div>
</header>


<!-- ======= Team Section ======= -->
<section id="team" class="team">

    <div class=" text-center" style="width: 100% !important; padding: 0 12%;">

        <div class="section-main text-center">
            <h2>Team</h2>
            <p>Our hard working team</p>
        </div>

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/IMG_9321.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.twitter.com/ewumesh/"><i class="fa fa-twitter-square"></i></a>
                            <a href="https://www.facebook.com/ewumesh/"><i class="fa fa-facebook-square"></i></a>
                            <a href="https://www.instagram.com/ewumesh/"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/umesh-thapa-3ba732156/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Umesh Thapa</h4>
                        <span>Chief Executive Officer</span>
                        <p>I'm Umesh Thapa, a multi disciplinary creative from Nepal, currently worked as a Web Application Developer
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team-2.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Sarah Jhonson</h4>
                        <span>Product Manager</span>
                        <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis. Voluptate sed quas reiciendis animi neque sapiente.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team-1.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>William Anderson</h4>
                        <span>CTO</span>
                        <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut architecto porro aspernatur molestiae modi.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team-3.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Amanda Jepson</h4>
                        <span>Accountant</span>
                        <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
<!-- End Team Section -->