/*Stern bedeutet: gilt für alle Elemente*/

* {
    margin: 0;
}

img {
    width: 100%;
}

h1,
h2 {
    font-weight: normal;
}

h1,
h2,
p {
    letter-spacing: 1px;
}

// section {
//     background-color: #2b2b5f;
//     padding: 75px 30px;
//     border-top: 1px dashed #ff8bc5;
// }
// section h2 {
//     margin-bottom: 20px;
// }
header {
    background-image: url('../../../assets/images/IMG.jpg');
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    // position: relative;
    z-index: 1;
    padding-bottom: 10% !important;
}

.header_text {
    text-align: center;
    color: #00E676;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.header_text p {
    font-size: 1em;
    margin-bottom: 50px;
}

.header_text h1 {
    line-height: 1.5;
}

#header_button {
    padding: 25px;
    background-color: #00E676;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    transition: padding 0.5s;
}

#header_button:hover {
    padding: 30px;
}

#main_menu {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    background-color: #2b2b5f;
    display: flex;
    list-style-type: none;
}

.menu_link {
    color: white;
    display: block;
    padding: 10px;
    line-height: 10px;
    text-decoration: none;
    font-size: 0.65em;
}

#angebote {
    border-top: 1px dashed #84c3ff;
}

#angebote h2 {
    color: #84c3ff;
}

.flex_list {
    padding: 0;
    list-style-type: none;
}

.flex_list li {
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #84c3ff;
    margin-bottom: 10px;
}

.flex_list li:hover {
    color: white;
    background-color: #84c3ff;
    border: 1px solid #84c3ff;
}

.box {
    position: relative;
}

.grid_container {
    margin-top: 20px;
}

@media screen and (min-width: 500px) {
    #main_menu {
        background: linear-gradient( to right, rgba(43, 43, 95, 1) 0%, rgba(43, 43, 95, 1) 50%, rgba(43, 43, 95, 0) 100%);
    }
}

@media screen and (min-width: 660px) {
    section {
        background-color: #2b2b5f;
        padding: 75px;
        // border-top: 1px dashed #ff8bc5;
    }
    .header_text h1 {
        font-size: 3em;
    }
    p {
        font-size: 1.25em;
    }
    #header_button {
        font-size: 1em;
    }
    .flex_container {
        display: flex;
    }
    .flex_item {
        margin-right: 10px;
    }
    .grid_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        line-height: 0;
    }
    .grid_item {
        grid-column: span 6;
    }
}

@media screen and (min-width: 900px) {
    .grid_item {
        grid-column: span 4;
    }
}

@media screen and (min-width: 1200px) {
    .grid_container {
        width: 80%;
        margin: 20px auto 0 auto;
    }
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;
}

.team {
    // background: #fff;
    padding: 60px 0;
    background: image('../../../assets/images/bg-3.jpg');
}

.team .member {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
}

.team .member .member-img {
    position: relative;
    overflow: hidden;
}

.team .member .member-img:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url('../../../assets/images/team-shape.svg') no-repeat center bottom;
    background-size: contain;
    z-index: 1;
}

.team .member .social {
    position: absolute;
    right: -100%;
    top: 30px;
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    background: rgba(26, 21, 21, 0.685);
    z-index: 50;
}

.team .member .social a {
    transition: color 0.3s;
    color: #fff;
    margin: 15px 12px;
    display: block;
    line-height: 0;
    text-align: center;
}

.team .member .social a:hover {
    color: #00db92
}

.team .member .social i {
    font-size: 18px;
}

.team .member .member-info {
    padding: 10px 15px 15px 15px;
}

.team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #00db92;
}

.team .member .member-info span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #aaaaaa;
}

.team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    padding-top: 15px;
    line-height: 26px;
    color: #5e5e5e;
}

.team .member:hover {
    transform: scale(1.08);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.team .member:hover .social {
    right: 8px;
    opacity: 1;
}

.team> {
    a {
        color: #4154f1;
        text-decoration: none;
    }
    a:hover {
        color: #717ff5;
        text-decoration: none;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Nunito", sans-serif;
    }
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-main {
    text-align: center;
    padding-bottom: 40px;
}

.section-main h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #00db92;
    text-transform: uppercase;
}

.section-main p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #00db92;
}

@media (max-width: 768px) {
    .section-main p {
        font-size: 28px;
        line-height: 32px;
    }
}

// drag and drop
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// last recent blog
article {
    font-family: 'roboto';
    font-size: 1.1em;
}

article h2,
article h3 {
    font-family: 'ubuntu'
}

.author {
    margin-top: 15px;
    margin-bottom: 15px;
}

.author-image {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.author-name {
    font-size: 1.3em;
}


/* Pager */

.pager {
    font-family: 'ubuntu';
    list-style-type: none;
}


/* Footer */

footer {
    background-color: #0f171f;
    padding-bottom: 40px;
    margin-bottom: 0;
    color: white;
    font-family: 'roboto';
}

footer h2,
footer h3 {
    font-family: 'ubuntu';
}

footer a {
    color: #70a7d7;
}

footer a:hover {
    color: #337ab7;
}


/* Social Button List */

.social-cont {
    margin-top: 20px;
}


/* Image List */

.image-list {
    list-style: none;
    padding-left: 0;
}

.image-list li {
    padding-bottom: 5px;
    display: table-row;
}

.image-list img {
    width: 40px;
    height: 40px;
}

.image-list .vertical-center {
    padding-bottom: 6px;
}


/* Tag List */

.tag-cont .btn {
    margin-right: 4px;
    margin-bottom: 7px;
    color: #fff;
}

.tag-cont .btn:hover {
    background-color: #000;
}

// .arc:hover {
//     border: 1px solid #000;
//     transition: rgb(0, 253, 156) 0.25s;
// }
.arc {
    border: 10px double rgba(28, 110, 164, 0.89);
    border-radius: 0px 40px 0px 40px;
}

// .arc:hover {
//     border: 10px double rgba(28, 110, 164, 0.89);
//     border-radius: 40px 0px 40px 0px;
//     transition: border 0.6s linear;
// }
// 
.testimonials {
    padding: 100px 0;
}

.testimonials h3 {
    margin-bottom: 20px;
}

.testimonials .card {
    border-bottom: 3px #007bff solid !important;
    transition: 0.5s;
    margin-top: 60px;
}

.testimonials .card .i {
    background-color: #00db92;
    color: #ffffff;
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: -40px auto 0 auto;
}