/*Stern bedeutet: gilt für alle Elemente*/

* {
    margin: 0;
}

img {
    width: 100%;
}

h1,
h2 {
    font-weight: normal;
}

h1,
h2,
p {
    letter-spacing: 1px;
}

section {
    background-color: #2b2b5f;
    padding: 75px 30px;
    border-top: 1px dashed #ff8bc5;
}

section h2 {
    margin-bottom: 20px;
}

header {
    background-image: url('../../../assets/images/bg-3.jpg');
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;
    // background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    // position: relative;
    z-index: 1;
}

.header_text {
    text-align: center;
    color: #00E676;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.header_text p {
    font-size: 1em;
    margin-bottom: 50px;
}

.header_text h1 {
    line-height: 1.5;
}

#header_button {
    padding: 25px;
    background-color: #00E676;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    transition: padding 0.5s;
}

#header_button:hover {
    padding: 30px;
}

#main_menu {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    background-color: #2b2b5f;
    display: flex;
    list-style-type: none;
}

.menu_link {
    color: white;
    display: block;
    padding: 10px;
    line-height: 10px;
    text-decoration: none;
    font-size: 0.65em;
}

#angebote {
    border-top: 1px dashed #84c3ff;
}

#angebote h2 {
    color: #84c3ff;
}

.flex_list {
    padding: 0;
    list-style-type: none;
}

.flex_list li {
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #84c3ff;
    margin-bottom: 10px;
}

.flex_list li:hover {
    color: white;
    background-color: #84c3ff;
    border: 1px solid #84c3ff;
}

.box {
    position: relative;
}

.grid_container {
    margin-top: 20px;
}

@media screen and (min-width: 500px) {
    #main_menu {
        background: linear-gradient( to right, rgba(43, 43, 95, 1) 0%, rgba(43, 43, 95, 1) 50%, rgba(43, 43, 95, 0) 100%);
    }
}

@media screen and (min-width: 660px) {
    section {
        background-color: #2b2b5f;
        padding: 75px;
        border-top: 1px dashed #ff8bc5;
    }
    .header_text h1 {
        font-size: 3em;
    }
    p {
        font-size: 1.25em;
    }
    #header_button {
        font-size: 1em;
    }
    .flex_container {
        display: flex;
    }
    .flex_item {
        margin-right: 10px;
    }
    .grid_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        line-height: 0;
    }
    .grid_item {
        grid-column: span 6;
    }
}

@media screen and (min-width: 900px) {
    .grid_item {
        grid-column: span 4;
    }
}

@media screen and (min-width: 1200px) {
    .grid_container {
        width: 80%;
        margin: 20px auto 0 auto;
    }
}


/* Team Section
--------------------------------*/

#team .team-block {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    height: 254px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media (max-width: 991px) {
    #team .team-block {
        margin-bottom: 30px;
    }
}

#team .team-block img {
    width: 100%;
}

#team .team-block .team-content {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
    bottom: -147px;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    transition: all 0.5s ease-in-out 0s;
}

#team .team-block .team-content ul {
    display: block;
    width: 100%;
}

#team .team-block .team-content ul li {
    display: inline-block;
}

#team .team-block .team-content ul li a {
    color: #626262;
}

#team .team-block .team-content ul li a .fa {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s;
}

#team .team-block .team-content ul li a .fa:hover {
    color: #71c55d;
}

#team .team-block .team-content ul>span {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#team .team-block:hover .team-content {
    bottom: 0px;
    transition: all 0.5s ease-in-out 0s;
}