<div class="text-center">
    <h6 class="m-portlet_head-text m--font-brand" matDialogTitle>
        Confirm!
    </h6>
    <div matDialogContent>
        <h5> Are you sure about this?</h5>
    </div>
    <div matDialogActions class="justify-content-center mb-1">
        <button [ngClass]="{'btn btn-primary':isWorking, 'btn btn-danger':!isWorking}" matTooltip="Delete" matTooltipPosition="left" (click)="deleted()" class="btn btn-icon btn-circle mx-2">
            <!-- <i *ngIf="!isWorking" class="fa fa-trash"></i> -->
            <i class="fa fa-trash"></i>
        </button>
        <button [disabled]="isWorking" matTooltip="Cancel" matTooltipPosition="right" [mat-dialog-close]="false" class="btn btn-secondary">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>