<h1 mat-dialog-title>Edit Your Profile
    <button style="padding: 1px 5px 1px 5px !important" class="pull-right btn btn-danger btn-xs" (click)="cancel()"><i class="fa fa-times" ></i></button>
</h1>
<!-- <h1 class="pull-right" mat-dialog-title (click)="cancel()"></h1> -->

<form [formGroup]="profileForm" (ngSubmit)="saveChanges()" autocomplete="off">
    <div class="row">

        <div class="col-md-4">
            <mat-form-field style="width: 100%;">
                <mat-label class="input_label">First Name</mat-label>
                <input formControlName="firstName" type="text" matInput placeholder="Enter your first name">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field style="width: 100%;">
                <mat-label class="input_label">Middle Name</mat-label>
                <input formControlName="middleName" type="text" matInput placeholder="Enter your middle name(optional)">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field style="width: 100%;">
                <mat-label class="input_label">Last Name</mat-label>
                <input formControlName="lastName" type="text" matInput placeholder="Enter your last name">
            </mat-form-field>
        </div>
        <!-- <div class="col-md-4">
            <mat-form-field class="pt-3" style="width: 100%;">
                <mat-label class="input_label">User Name</mat-label>
                <input formControlName="userName" type="text" matInput placeholder="Create your username">
            </mat-form-field>
        </div> -->
        <div class="col-md-6">
            <mat-form-field class="pt-3" style="width: 100%;">
                <mat-label class="input_label">Address</mat-label>
                <input formControlName="address" type="text" matInput placeholder="Enter your address">
            </mat-form-field>
        </div>
        <div class="col-md-6">

            <mat-form-field class="pt-3" style="width: 100%;">
                <mat-label class="input_label">Date of birth</mat-label>
                <input datePickerFormat="MMMM Do YYYY" (click)="date.open()" (focus)="date.open()" [matDatepicker]="date" matInput formControlName="dob">
                <mat-datepicker #date></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="pt-3" style="width: 100%;">
                <mat-label class="input_label">Phone No.</mat-label>
                <input formControlName="phone" type="text" matInput placeholder="Enter your phone no">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="pt-3" style="width: 100%;">
                <mat-label class="input_label">Gender</mat-label>
                <mat-select formControlName="gender">
                    <mat-option value="Male">Male</mat-option>
                    <mat-option value="Female">Female</mat-option>
                    <mat-option value="Other">Other</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="pt-3" style="width: 100%;">
                <mat-label class="input_label">Education</mat-label>
                <input formControlName="edu" type="text" matInput placeholder="Enter your higher education level.">
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <!-- <mat-form-field class="pt-3" style="width: 100%;">
                <mat-label class="input_label">Position</mat-label>
                <input type="text" placeholder="Enter your position" matInput formControlName="position" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field> -->

            <mat-form-field class="pt-3" style="width: 100%;">
                <mat-label class="input_label">Position</mat-label>
                <input formControlName="position" type="text" matInput placeholder="Select your position.">
                <!-- <mat-autocomplete #auto="matAutocomplete">
                    <mat-option>
                        https://www.
                    </mat-option>
                </mat-autocomplete> -->
            </mat-form-field>
        </div>
        <!-- <div class="col-md-7">
            <mat-form-field class="pt-3" style="width: 100%;">
                <mat-label class="input_label">Prifile Picture</mat-label>
                <input formControlName="profilePic" type="text" matInput placeholder="Select your profile picture.">
            </mat-form-field>
        </div> -->


        <div class="col-md-6">
            <mat-form-field class="pt-3" style="width: 100%;">
                <mat-label class="input_label">Email</mat-label>
                <input formControlName="email" type="email" matInput placeholder="Enter username">
            </mat-form-field>
        </div>

        <!-- <div class="col-md-4">
            <mat-form-field class="pt-3" style="width: 100%;">
                <mat-label class="input_label">Password</mat-label>
                <input formControlName="password" type="password" matInput placeholder="Enter Your Password">
            </mat-form-field>
        </div> -->

        <!-- <div class="col-md-4">
            <mat-form-field class="pt-3" style="width: 100%;">
                <mat-label class="input_label">Confirm Password</mat-label>
                <input formControlName="confirmPassword" type="password" matInput placeholder="Re-enter your password">
            </mat-form-field>
            <p class="wrong_password" *ngIf="profileForm.errors?.invalid"> Password doesn't match </p>
        </div> -->
        <div class="col-md-12">
            <mat-form-field class="pt-3" style="width: 100%;">
                <mat-label class="input_label">About</mat-label>
                <textarea formControlName="about" type="text" matInput placeholder="Write about yourself"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md 12 text-center pt-3">
            <button type="submit" [disabled]="profileForm.invalid || isLoading" class="btn btn-primary">
                <span *ngIf="!isLoading">Save</span>   
                <div *ngIf="isLoading" class="spinner">
                    <div></div>
                    <div></div>
                </div>
            </button>
            <button (click)="cancel()" type="button" class="btn btn-danger">Cancel</button>
        </div>
    </div>
</form>

<!-- <div class="text-center">
    <button [disabled]="blogForm.invalid || isLoading" class="btn btn-primary mr-2" type="submit" (click)="saveChanges()">
        <span *ngIf="!isLoading">Save</span>     
        <span *ngIf="isLoading"><i style="font-size: 22px;" class="fa fa-cog fa-spin"></i></span>
    </button>
    <button class="btn btn-danger ml-2" (click)="cancel()">Cancel</button>
</div> -->