<body class="profile-page" style="background: url(https://image.freepik.com/free-photo/shiny-lights_385-19321244.jpg); background-size: cover; height: 200vh;" [@collectionInOut]>
    <div class="page-header header-filter" data-parallax="true"></div>
    <div class="main main-raised" [@rowsAnimation]>
        <div class="profile-content">
            <div class="container" *ngIf="user.key">
                <div class="row">
                    <div class="col-md-4">
                        <div class="tarjeta">
                            <div class="avatar">
                                <img *ngIf="user.content.profilePic" [src]="user.content.profilePic" />
                                <img *ngIf="!user.content.profilePic" src="../../../assets/logo/logo7.png" />
                                <aside (click)="uplaodImage()" class="mascara">+</aside>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2 class="pt-4 mt-4">{{user.content.firstName}} {{user.content.middleName}}{{user.content.lastName}}</h2>
                        <h6>@{{user.content.userName}}</h6>
                        <p style="font-size: 17px; color: rgb(94, 91, 91);">{{user.content.about}} </p>
                    </div>
                    <div class="col-md-2">
                        <button (click)="edit(user.content.id)" style="z-index: 10;" class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                    </div>
                </div>
                <mat-tab-group animationDuration="0ms">
                    <mat-tab label="Basic Information">
                        <!-- <div class="row"> -->
                        <mat-card style="background-color: rgb(241, 238, 238);">
                            <div class="row mt-3 mb-3">
                                <div class="col-md-4"><b>Name:</b></div>
                                <div class="col-md-8">
                                    {{user.content.firstName}} {{user.content.middleName}}{{user.content.lastName}}

                                </div>
                            </div>
                            <div class="row mt-3 mb-3">
                                <div class="col-md-4"><b>Position:</b></div>
                                <div class="col-md-8">
                                    {{user.content.position}}

                                </div>
                            </div>

                            <div class="row mt-3 mb-3">
                                <div class="col-md-4"><b>Gender:</b></div>
                                <div class="col-md-8">
                                    {{user.content.gender}}

                                </div>
                            </div>

                            <div class="row mt-3 mb-3" *ngIf="user.content.dob">
                                <div class="col-md-4"><b>Date of Birth:</b></div>
                                <div class="col-md-8">
                                    {{user.content.dob | date:'mediumDate'}}

                                </div>
                            </div>

                            <div class="row mt-3 mb-3" *ngIf="user.content.about">
                                <div class="col-md-4"><b>About:</b></div>
                                <div class="col-md-8">
                                    {{user.content.about}}

                                </div>
                            </div>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="Contact Information">
                        <mat-card style="background-color: rgb(241, 238, 238);">
                            <div class="row mt-3 mb-3">
                                <div class="col-md-4"><b>Email:</b></div>
                                <div class="col-md-8">
                                    {{user.content.email}}
                                </div>
                            </div>
                            <div class="row mt-3 mb-3">
                                <div class="col-md-4"><b>Phone No.:</b></div>
                                <div class="col-md-8">
                                    {{user.content.phone}}
                                </div>
                            </div>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="Education Details">
                        <mat-card style="background-color: rgb(241, 238, 238);">
                            <div class="row mt-3 mb-3">
                                <div class="col-md-4"><b>Higher education level:</b></div>
                                <div class="col-md-8">
                                    {{user.content.edu}}

                                </div>
                            </div>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="Change Password">
                        <mat-card style="background-color: rgb(241, 238, 238);">
                            <div class="row mt-3 mb-3">
                                <div class="col-md-12">
                                    <form [formGroup]="changePasswordForm" (ngSubmit)="upDatePassword()" autocomplete="off">
                                        <h4 class="p-4">Change your password</h4>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <mat-form-field style="width: 100%;">
                                                    <mat-label class="input_label">Current Password</mat-label>
                                                    <input formControlName="currentPassword" type="text" matInput placeholder="Enter your current password">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field style="width: 100%;">
                                                    <mat-label class="input_label">New Password</mat-label>
                                                    <input formControlName="newPassword" type="text" matInput placeholder="Enter your new password">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field style="width: 100%;">
                                                    <mat-label class="input_label">Re-enter Password</mat-label>
                                                    <input formControlName="cPassword" type="text" matInput placeholder="Re-Enter your new password">
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <button class="btn btn-primary" type="submit">Update Password</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </mat-card>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</body>