<div class="form-box " id="myDIV">

    <div class="row">
        <div class="col-md-12">
            <section class="msger">
                <header class="msger-header">
                    <div class="msger-header-title" style="padding: 10px;">
                        <i class="fa fa-comment"></i> Ewumesh's chat
                    </div>
                    <div class="msger-header-options">
                        <button class="btn btn-xs btn-danger" onclick="myFunction()">
                            <span><i class="fa fa-times"></i></span>
                        </button>
                    </div>
                </header>

                <main class="msger-chat">
                    <div class="msg left-msg" *ngFor="let m of another">
                        <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div>

                        <div class="msg-bubble">
                            <div class="msg-info">
                                <div class="msg-info-name">{{m.content.name}}</div>
                                <div class="msg-info-time">{{m.content.currentTime}}</div>
                            </div>

                            <div class="msg-text">
                                {{m.content.message}}
                            </div>
                        </div>
                    </div>

                    <div class="msg right-msg" *ngFor="let m of individualChat">
                        <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"></div>

                        <div class="msg-bubble">
                            <div class="msg-info">
                                <div class="msg-info-name">{{m.content.name}}</div>
                                <div class="msg-info-time">{{m.content.currentTime}}</div>
                                <!-- <div class="msg-info-time">{{m.content.currentTime | date:'shortTime'}}</div> -->
                            </div>

                            <div class="msg-text">
                                {{m.content.message}}
                            </div>
                        </div>
                    </div>
                </main>

                <form class="msger-inputarea" [formGroup]="chatForm" (ngSubmit)="saveChanges()" autocomplete="off">
                    <input type="text" formControlName="message" class="msger-input" placeholder="Enter your message...">
                    <button [disabled]="chatForm.invalid" type="submit" class="msger-send-btn">Send</button>
                </form>
            </section>
        </div>
    </div>
</div>

<button class="floating-btn" onclick="myFunction()">
      <i class="fa fa-comments" style="font-size: 20px;"></i>
    </button>