* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.mt-5 {
    margin-top: 5rem;
}

.our-blog {
    background-color: #6f42c1;
    padding: 100px 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
    font-size: 18px;
}

.text-center h2 {
    font-weight: 500;
    font-size: 1.6em;
    color: #00E676;
}

.text-center h2 span {
    font-weight: 800;
}

.text-center p {
    max-width: 500px;
    margin: 0 auto;
    color: #fff;
    line-height: 1.5;
    font-size: 1em;
}

.col-md-4 {
    width: 33.3333333%;
    overflow: hidden;
    padding: 15px;
}

.col-md-4 .card {
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin-top: 20px !important;
}

.col-md-4 img {
    width: 100%;
    height: auto;
    border: 0;
}

.col-md-4 .card-body {
    padding: 0 15px 15px 15px;
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-body h5 {
    font-size: 24px;
    margin: 7px 0;
}

.card:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.card p {
    color: #6c757d;
}

.card-body .date-author span {
    color: #e74c3c;
}

.card-body h5 a {
    color: #222;
}

@media(min-width: 577px) and (max-width: 768px) {
    .col-md-4 {
        width: 50%;
    }
}

@media(max-width: 576px) {
    .col-md-4 {
        width: 100%;
    }
}