* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.mt-5 {
    margin-top: 5rem;
}

.our-blog {
    // background-color: #6f42c1;
    background: url(https://image.freepik.com/free-photo/shiny-lights_385-19321244.jpg);
    background-size: cover;
    padding: 100px 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
    font-size: 18px;
}

.text-center h2 {
    font-weight: 500;
    font-size: 1.6em;
    color: #00E676;
}

.text-center h2 span {
    font-weight: 800;
}

.text-center p {
    max-width: 500px;
    margin: 0 auto;
    color: #fff;
    line-height: 1.5;
    font-size: 1em;
}

.col-md-4 {
    width: 33.3333333%;
    overflow: hidden;
    padding: 15px;
}

.col-md-4 .card {
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin-top: 20px !important;
}

.col-md-4 img {
    width: 100%;
    height: auto;
    border: 0;
}

.col-md-4 .card-body {
    padding: 0 15px 15px 15px;
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-body h5 {
    font-size: 24px;
    margin: 7px 0;
}

.card:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.card p {
    color: #6c757d;
}

.card-body .date-author span {
    color: #e74c3c;
}

.author:hover {
    color: #00E676 !important;
    cursor: pointer;
}

.card-body h5 a {
    color: #222;
}

.card-title>a:hover {
    cursor: pointer;
    color: #00E676 !important;
}

@media(min-width: 577px) and (max-width: 768px) {
    .col-md-4 {
        width: 50%;
    }
}

@media(max-width: 576px) {
    .col-md-4 {
        width: 100%;
    }
}

// Other
@import url(https://fonts.googleapis.com/css?family=Vollkorn);
@import url(https://fonts.googleapis.com/css?family=Raleway:700);
body,
html {
    height: 100%;
    min-height: 100%;
}

.article {
    // height: 100%;
    /* height: 100vh */
    margin: 1%;
    height: 50vh;
    overflow: hidden;
    width: 23%;
    float: left;
    background: #333;
    position: relative;
    img {
        height: 100%;
        position: relative;
        // left: -100%;
        transition: all .2s ease;
    }
    .meta {
        position: absolute;
        background: rgba(51, 51, 51, .5);
        width: 100%;
        color: #fff;
        top: 0%;
        padding: 15px;
        height: 100%;
        font-family: 'Vollkorn', serif;
    }
    .meta:hover {
        cursor: pointer;
    }
    h5 {
        color: #fff;
        font-family: 'Raleway', sans-serif;
    }
    &:hover {
        img {
            transform: scale(1.1);
            opacity: 0.5;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 767px) {
    .article {
        float: none;
        width: 100%;
        height: auto;
        img {
            height: auto;
            left: 0;
            width: 100%;
        }
    }
}

#header_button {
    padding: 10px;
    background-color: #00E676;
    border-radius: 2px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    transition: padding 0.5s;
}

#header_button:hover {
    padding: 15px;
}