<div style="background-color: rgb(124, 112, 112); padding-top: 100px; padding-bottom: 20px;">
    <div class="container">
        <h3>List of Team</h3>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary float-right m-3" (click)="edit(0)">Add new</button>
            </div>
        </div>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Checkbox Column -->
            <!-- <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container> -->

            <ng-container matColumnDef="sn" style="width: 100px;">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.content.sn}} </td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.content.title}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.content.date}} </td>
            </ng-container>

            <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef> Author </th>
                <td mat-cell *matCellDef="let element"> {{element.content.author}} </td>
            </ng-container>

            <ng-container matColumnDef="headerImg">
                <th mat-header-cell *matHeaderCellDef> Header Image </th>
                <td mat-cell *matCellDef="let element"> {{element.content.headerImg}} </td>
            </ng-container>

            <ng-container matColumnDef="content">
                <th mat-header-cell *matHeaderCellDef> Content </th>
                <td mat-cell *matCellDef="let element"> {{element.content.content |slice:0:100}}.. </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button [matMenuTriggerFor]="menu" type="button" class="btn btn-label-info btn-sm btn-icon btn-circle">
                            <i class="fa fa-align-center"></i>
                        </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="edit(element.content.id)" class="dropdown-item" type="button">
                                <i class="flaticon-edit kt-font-info  mr-1"></i> Edit
                            </button>
                        <!-- <button (click)="socialLink(element.content.id)" class="dropdown-item" type="button">
                                <i class="flaticon-edit kt-font-info  mr-1"></i> Social links
                            </button> -->
                        <button (click)="delete(element.content.id)" class="dropdown-item" type="button">
                                <i class="flaticon-delete kt-font-danger  mr-1"></i> Delete
                            </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>

    </div>
</div>

<!-- <p style="text-decoration: line-through">asdkjbasjdbaksjdbkjasd</p> -->