<h1 mat-dialog-title>Form</h1>

<form class="form" [formGroup]="blogForm" (ngSubmit)="saveChanges()" autocomplete="off">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label class="input_label">Title</mat-label>
                <input formControlName="title" type="author" matInput placeholder="Enter Title">
                <mat-error class="text-danger" *ngIf="displayMessage?.title">{{displayMessage?.title}}</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label class="input_label">Author Name</mat-label>
                <input formControlName="author" type="author" matInput placeholder="Enter Author name">
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <!-- <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label class="input_label">Enter Date</mat-label>
                <input formControlName="date" type="author" matInput placeholder="Enter Date">
            </mat-form-field> -->
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Date</mat-label>
                <input datePickerFormat="MMMM Do YYYY" (click)="date.open()" (focus)="date.open()" [matDatepicker]="date" matInput formControlName="select Date" formControlName="date">
                <mat-datepicker #date></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-6">

            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Image</mat-label>
                <input type="text" placeholder="Select or Enter Urls(https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png)" aria-label="Number" matInput formControlName="headerImg" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let i of imageUrls" [value]="i.value">
                        {{i.value}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <!-- <div class="col-md-12">
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label class="input_label">Content</mat-label>
                <textarea formControlName="content" type="author" matInput placeholder="Write here..........."></textarea>
            </mat-form-field>
        </div> -->

        <div class="col-md-12">
            <angular-editor formControlName="content" [config]="editorConfig"></angular-editor>
        </div>
    </div>
</form>

<div class="text-center">
    <button [disabled]="blogForm.invalid || isLoading" class="btn btn-primary mr-2" type="submit" (click)="saveChanges()">
        <span *ngIf="!isLoading">Save</span>     
        <span *ngIf="isLoading"><i style="font-size: 22px;" class="fa fa-cog fa-spin"></i></span>
    </button>
    <button class="btn btn-danger ml-2" (click)="cancel()">Cancel</button>
</div>