html,
body {
    margin: 0 !important;
    padding: 0 !important;
}


/* Text Centering Shortcut */

.horizontal-center {
    text-align: center;
}

.table {
    display: table;
}

.table-row {
    display: table-row;
}

.vertical-center {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}


/* Navbar */

#navbar {
    margin-bottom: 0;
    font-family: 'ubuntu';
}


/* Page title */

.bg {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

.bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

#page-title {
    position: relative;
    width: 100%;
    color: white;
    background-color: #1f4a6f;
    font-family: 'ubuntu';
    overflow: hidden;
}

#title-image {
    filter: alpha(opacity=80);
    opacity: 0.8;
    -moz-opacity: 0.8;
}

#page-title .container {
    min-height: 350px;
    display: table;
}

#page-title .article-title,
#page-title .article-subtitle {
    text-shadow: 0px 0px 40px black;
}


/* Article */

article {
    font-family: 'roboto';
    font-size: 1.1em;
}

article h2,
article h3 {
    font-family: 'ubuntu'
}

.author {
    margin-top: 15px;
    margin-bottom: 15px;
}

.author-image {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.author-name {
    font-size: 1.3em;
}


/* Pager */

.pager {
    font-family: 'ubuntu';
    list-style-type: none;
}


/* Footer */

footer {
    background-color: #0f171f;
    padding-bottom: 40px;
    margin-bottom: 0;
    color: white;
    font-family: 'roboto';
}

footer h2,
footer h3 {
    font-family: 'ubuntu';
}

footer a {
    color: #70a7d7;
}

footer a:hover {
    color: #337ab7;
}


/* Social Button List */

.social-cont {
    margin-top: 20px;
}


/* Image List */

.image-list {
    list-style: none;
    padding-left: 0;
}

.image-list li {
    padding-bottom: 5px;
    display: table-row;
}

.image-list img {
    width: 40px;
    height: 40px;
}

.image-list .vertical-center {
    padding-bottom: 6px;
}


/* Tag List */

.tag-cont .btn {
    margin-right: 4px;
    margin-bottom: 7px;
    color: #fff;
}

.tag-cont .btn:hover {
    background-color: #000;
}

.p::first-letter {
    font-size: 200%;
    color: #00E676;
}