<header id="page-title" class="jumbotron background">
    <div id="title-image" class="bg">
        <img [src]="individualBlog.headerImg" alt="">
    </div>
    <div class="container">
        <div class="horizontal-center vertical-center">
            <h1 class="article-title">{{individualBlog.title}}</h1>
            <h2 class="article-subtitle">--By {{individualBlog.author}}</h2>
        </div>
    </div>
</header>

<div class="container foreground">
    <div class="row">
        <div class="col-lg-12">
            <div class="bs-component">
                <article style="letter-spacing: -0.003em;line-height: 32px;font-size: 21px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                    <!-- {{individualBlog.content}}, -->
                    <p class="p" [innerHtml]="individualBlog.content"></p>,
                    <!-- <p>{{individualBlog.content|slice:800:1600}} </p>
                    <p> {{individualBlog.content|slice:1600:2000}}</p>
                    <p> {{individualBlog.content|slice:2000:2800}}</p>
                    <p> {{individualBlog.content|slice:2800:4000}}</p>
                    <p> {{individualBlog.content|slice:4000:4500}}</p>
                    <p> {{individualBlog.content|slice:4500:7000}}</p>
                    <p> {{individualBlog.content|slice:7000:9000}}</p>
                    <p> {{individualBlog.content|slice:9000:11000}}</p>
                    <p> {{individualBlog.content|slice:11000:15000}}</p> -->
                    <div class="horizontal-center">
                        <div class="author">
                            <a href="#">
                                <img src="assets/images/team-2.jpg" class="author-image"><span class="author-name">{{individualBlog.author}}</span>
                            </a>
                        </div>
                        <div class="date-published">
                            {{individualBlog.date | date:'mediumDate'}}
                        </div>
                    </div>
                </article>
            </div>

            <ul class="pager">
                <li class="previous "><a href="Javascript:;">← Older</a></li>
                <li style="margin-bottom: 40px !important;" class="pull-right"><a href="Javascript:;">Newer →</a></li>
            </ul>

        </div>
    </div>
</div>


<div class=" foreground" style="background-color: #4a6e92;">
    <article class="container article-preview pt-4" *ngFor="let a of blogs | slice:0:2;">
        <div class="row">
            <div class="col-sm-2">
                <h2 class="publish-day">{{a.content.date | date:'mediumDate'}}</h2>
                <!-- <div class="publish-month">February</div> -->
            </div>
            <div class="col-sm-10">
                <h2 class="post-title"><a [routerLink]="['/view']" [queryParams]=" a.content" style="color: #fff;">{{a.content.title}}</a></h2>
                <!-- <h3 class="post-subtitle">..............</h3> -->
                <div class="post-preview">
                    <p [innerHtml]="a.content.content|slice:0:200">
                        <!-- {{a.content.content|slice:0:200}} -->
                    </p>
                </div>
                <div class="author">
                    <a href="Javascript:;">
                        <img [src]="a.content.headerImg" class="author-image" alt="">
                        <!-- <img [src]="{{a.content.headerImg}}" class="author-image"> -->
                        <span class="author-name">{{a.content.author}}</span>
                    </a>
                </div>
            </div>
        </div>
    </article>
</div>

<footer>
    <div class="container pt-4">
        <div class="row">
            <div class="col-sm-4">
                <h3><i class="fa fa-leaf"></i> Locations</h3>
                <address>
          <strong>Website:</strong><br />
          <a href="https://umeshthapa12.github.io/ewumesh/">www.umeshthapa12.github.io/ewumesh/</a>
        </address>
                <address>
          <strong>Address:</strong><br />
          Nepal, Kathmandu<br />
          Durbarmarg, 44600
        </address>


                <div class="social-cont">
                    <span class="fa-stack facebook">
            <a href="#">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse social-ico"></i>
            </a>
          </span>

                    <span class="fa-stack twitter">
            <a href="#">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse social-ico"></i>
            </a>
          </span>

                    <span class="fa-stack google">
            <a href="#">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x fa-inverse social-ico"></i>
            </a>
          </span>

                    <span class="fa-stack instagram">
            <a href="#">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse social-ico"></i>
            </a>
          </span>
                </div>

            </div>
            <div class="col-sm-4">
                <h3><i class="fa fa-newspaper-o"></i> Recent Posts</h3>

                <div class="recent-posts-cont">
                    <ul class="image-list">
                        <li class="table" *ngFor="let b of blogs | slice:0:3; let i=index">
                            <a [routerLink]="['/view']" [queryParams]=" b.content" class="table-row">
                                <div class="vertical-center">
                                    <img [src]="b.content.headerImg" class="author-image">
                                </div>
                                <div class="vertical-center article-title">
                                    {{b.content.title}}
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-sm-4">
                <h3><i class="fa fa-tags"></i> Tags</h3>
                <div class="tag-cont">
                    <button type="submit" class="btn">Surfing</button>
                    <button type="submit" class="btn">Travel</button>
                    <button type="submit" class="btn">Budget</button>
                    <button type="submit" class="btn">Beaches</button>
                    <button type="submit" class="btn">Gold Coast</button>
                    <button type="submit" class="btn">Australia</button>
                </div>
            </div>
        </div>
    </div>
</footer>