<top-nav>
</top-nav>
<!-- <div [@triggerName]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
</div> -->
<!-- <router-outlet></router-outlet -->
<main [@fadeAnimation]="getRouterOutletState(o)">
    <router-outlet #o="outlet"></router-outlet>
</main>
<app-scroll-top></app-scroll-top>
<footer class="footer_bg">
    <div class="my-container">
        <div class="row f_row">
            <div class="col-md-4 text-left">
                <h4 class="f_name">EWUMESH</h4>
                <p class="footer_p">
                    Many people limit themselves to what they think they can do. You can go as far as your mind lets you. What you believe, remember, you can achieve.
                </p>
            </div>
            <div class="col-md-2">
                <h4 class="f_name">Quick links</h4>
                <ul class="f_links">
                    <li><a href="Javascript:;">About</a></li>
                    <li><a href="Javascript:;">Offers and discount</a></li>
                    <li><a href="Javascript:;">Get Coupon</a></li>
                    <li><a href="Javascript:;">Contact us</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="f_name">Blogs</h4>
                <ul class="f_links">
                    <li><a href="Javascript:;">Latest blogs </a></li>
                    <li><a href="Javascript:;">Web Technology</a></li>
                    <li><a href="Javascript:;">Our society</a></li>
                    <li><a href="Javascript:;">Other</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4 class="f_name">Support</h4>
                <ul class="f_links">
                    <li><a href="Javascript:;">Frequently asked questions</a></li>
                    <li><a href="Javascript:;">Terms and conditions</a></li>
                    <li><a href="Javascript:;">Privacy policy</a></li>
                    <li><a href="Javascript:;">Report a issue</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Social Links -->
    <div class="my-container">
        <span class="text-left copyright">
            Copyright ©2021, Ewumesh. All rights reserved.
        </span>

        <ul class="s_icon">
            <li>
                <a href="https://www.youtube.com/channel/UCHlF-J937VlQBsphDmSGuFw">
                    <i class="fa fa-youtube-square ml-1 mr-1 s_icon s_youtube"></i>
                </a>
            </li>
            <li>
                <a href="https://www.twitter.com/ewumesh">
                    <i class="fa fa-twitter-square ml-1 mr-1 s_icon s_twitter"></i> </a>
            </li>
            <li>
                <a href="https://www.instagram.com/ewumesh">
                    <i class="fa fa-instagram ml-1 mr-1 s_icon s_instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/ewumesh">
                    <i class="fa fa-facebook-square ml-1 mr-1 s_icon s_facebook"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>