<header id="home" class="login_page pb-4">
    <div class="row m_o">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <mat-card class="login_card">
                <div class="text-center">
                    <!-- <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="img">

                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div> -->

                    <img class="login_img" src="assets/logo/e-logo.png">
                </div>

                <div class="row">
                    <div class="col-md-12 text-center login_form">
                        <form [formGroup]="loginForm" (ngSubmit)="saveChanges()" class="example-form" autocomplete="off">
                            <mat-form-field class="login_field">
                                <mat-label class="input_label">Username</mat-label>
                                <input formControlName="userName" type="email" matInput placeholder="Enter username">
                                <mat-error class="font-danger" *ngIf="displayMessage?.userName">{{displayMessage?.userName}}</mat-error>
                            </mat-form-field>

                            <mat-form-field class="login_field">
                                <mat-label class="input_label">Password</mat-label>
                                <input formControlName="password" type="password" matInput placeholder="Enter Your Password">
                                <mat-error class="font-danger" *ngIf="displayMessage?.password">{{displayMessage?.password}}</mat-error>
                            </mat-form-field>

                            <div class="row pt-3">
                                <div class="col-md-6 text-left pl-4">
                                    <mat-checkbox class="m_checkbox"> Remember me</mat-checkbox>
                                </div>
                                <div class="col-md-6 text-left login_card_footer">
                                    <a class="forgot_password" href="Javascript:;" (click)="forgotPassword()"> Forgot password ?</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md 12 text-center pt-3">
                                    <button [disabled]="loginForm.invalid || isLoading" class="login_btn login_btn-5">
                                        <span *ngIf="!isLoading">LOGIN</span>   
                                        <span *ngIf="isLoading"><i style="font-size: 22px;" class="fa fa-cog fa-spin"></i></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-12 text-center pt-4">
                    <p class="f_text">Don't have an account? <a id="reg" (click)="signUp()" href="Javascript:;">Register</a></p>
                </div>
            </mat-card>
        </div>
        <div class="col-md-4"></div>
    </div>
</header>