<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="Javascript:;"><img class="l_img" src="assets/logo/e-logo.png"></a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="Javascript:;" (click)="home()">Home</a></li>
                <li><a href="Javascript:;" (click)="blog()">Blog</a></li>
                <li><a href="Javascript:;" (click)="contact()">Contact</a></li>
                <li><a href="Javascript:;" (click)="about()">About</a></li>
                <li *ngIf="isLogged === true"><a [matMenuTriggerFor]="menu" href="Javascript:;">
                    Profile
                </a>
                    <mat-menu #menu="matMenu">
                        <button (click)="profile()" mat-menu-item><a >Profile</a></button>
                        <button *ngIf="loggedData.content.role === 'admin'" (click)="team()" mat-menu-item><a>Team</a></button>
                        <button *ngIf="loggedData.content.role === 'admin'" (click)="blogAdmin()" mat-menu-item><a>Blog</a></button>
                        <button *ngIf="loggedData.content.role === 'admin'" (click)="user()" mat-menu-item><a>Users</a></button>
                        <button mat-menu-item>Setting</button>
                    </mat-menu>

                </li>
                <li (click)="logout()" *ngIf="isLogged === true"><a href="Javascript:;">Logout</a></li>
                <li *ngIf="isLogged === false"><a href="Javascript:;" (click)="login()">Login</a></li>
                <li *ngIf="isLogged === false"><a href="Javascript:;" (click)="register()">Register</a></li>
            </ul>
        </div>
        <span id="overlay-input" class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>

    </div>

</nav>

<div id="mySidepanel" class="sidepanel">
    <!-- <a href="javascript:void(0)" class="closebtn mobile_view_button" onclick="closeNav()">X</a> -->
    <li><a href="Javascript:;" (click)="home()">Home</a></li>
    <li><a href="Javascript:;" (click)="blog()">Blog</a></li>
    <li><a href="Javascript:;" (click)="contact()">Contact</a></li>
    <li><a href="Javascript:;" (click)="about()">About</a></li>
    <li><a href="Javascript:;" (click)="login()">Login</a></li>
    <li><a href="Javascript:;" (click)="register()">Register</a></li>
</div>