<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="Javascript:;"><img class="l_img" src="assets/logo/e-logo.png"></a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="Javascript:;" (click)="home()">Home</a></li>
                <li><a href="Javascript:;">Portfolio</a></li>
                <li><a href="Javascript:;" (click)="about()">About</a></li>
                <li><a href="Javascript:;" (click)="contact()">Contact</a></li>
                <li><a href="Javascript:;" (click)="login()">Login</a></li>
                <li><a href="Javascript:;" (click)="register()">Register</a></li>
            </ul>
        </div>
        <span id="overlay-input" onclick="openNav()" class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>

    </div>

</nav>

<div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn mobile_view_button" onclick="closeNav()">X</a>
    <a href="Javascript:;" onclick="closeNav()" (click)="home()">Home</a>
    <a href="Javascript:;" onclick="closeNav()">Portfolio</a>
    <a href="Javascript:;" onclick="closeNav()">About</a>
    <a href="Javascript:;" onclick="closeNav()" (click)="contact()">Contact</a>
    <a href="Javascript:;" onclick="closeNav()" (click)="login()">Login</a>
    <a href="Javascript:;" onclick="closeNav()" (click)="register()">Register</a>
</div>