<footer style="background-color: rgb(22, 22, 24);">
    <div class="my-container">
        <div class="row" style="width: 100% !important;">
            <div class="col-md-4 text-left">
                <h4 class="f_name">MERO ONLINE</h4>
                <p style="color: rgb(69, 97, 121); line-height: 30px;">
                    Best online shopping in Nepal to buy 100% quality products. Electronics, home appliances, Handmade, and Corporate products with fast delivery in Nepal.
                </p>
            </div>
            <div class="col-md-2">
                <h4 class="f_name">Quick links</h4>
                <ul class="f_links">
                    <li><a href="Javascript:;">About</a></li>
                    <li><a href="Javascript:;">Offers and discount</a></li>
                    <li><a href="Javascript:;">Get Coupon</a></li>
                    <li><a href="Javascript:;">Contact us</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="f_name">New Products</h4>
                <ul class="f_links">
                    <li><a href="Javascript:;">Woman cloth</a></li>
                    <li><a href="Javascript:;">Fashion Accessories</a></li>
                    <li><a href="Javascript:;">Man Accessories</a></li>
                    <li><a href="Javascript:;">Latest collection</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4 class="f_name">Support</h4>
                <ul class="f_links">
                    <li><a href="Javascript:;">Frequently asked questions</a></li>
                    <li><a href="Javascript:;">Terms and conditions</a></li>
                    <li><a href="Javascript:;">Privacy policy</a></li>
                    <li><a href="Javascript:;">Report a issue</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="my-container">
        <span class="text-left" style="color: rgb(69, 97, 121);">
            Copyright ©2020, MERO ONLINE. All rights reserved 
            <!-- | This site is made with 
            <i style="color: red;" class="fa fa-heart"></i> 
            by Umesh -->
        </span>

        <ul class="s_icon">
            <li>
                <a href="https://www.youtube.com/dadsonline">
                    <i style="color: #FF0000 !important; font-size: 25px;" class="fab fa-youtube-square ml-1 mr-1 s_icon"></i>
                </a>
            </li>
            <li>
                <a href="https://www.twitter.com/dadsonline">
                    <i style="color: #385898 !important; font-size: 25px;" class="fab fa-twitter-square ml-1 mr-1 s_icon"></i> </a>
            </li>
            <li>
                <a href="https://www.instagram.com/dadsonline">
                    <i style="color: #ed4956 !important; font-size: 25px;" class="fab fa-instagram-square ml-1 mr-1 s_icon"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/dadsonline">
                    <i style="color: #385898 !important; font-size: 25px;" class="fab fa-facebook-square ml-1 mr-1 s_icon"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>